colorama==0.4.6
coverage==7.6.12
dataclasses==0.6
debugpy==1.8.13
et_xmlfile==2.0.0
iniconfig==2.0.0
openpyxl==3.1.5
-e git+https://github.com/ppainterpython/p3_utils.git@c40ceb2bd916dae439bcc580df4ca55455073896#egg=p3_utils
p3logging @ file:///C:/Users/ppain/repos/python/p3Logging
packaging==24.2
pillow==11.1.0
pluggy==1.5.0
pyjson5==1.6.8
pytest==8.3.5
pytest-cov==6.0.0
ttkbootstrap==1.12.0
